*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  color: #333;
  font-family: Verdana, sans-serif;
  line-height: 1.4;
  --blue: #88e;
  --gray-primary: #e8e8e8;
  --gray-secondary: #e0e0e0;
}

body {
  max-width: 50ch;
  margin: 0 auto;
  padding: 0.5em;
}

pre {
  font-family: Input, Menlo, Consolas, monospace;
  overflow-x: auto;
}

@media (prefers-color-scheme: dark) {
  html {
    color: #ddd;
    background-color: #333;
    --gray-primary: #484848;
    --gray-secondary: #404040;
  }
}
