.Button {
  display: block;
  appearance: none;
  margin: 0.2em 0;
  padding: 0.2em;
  border: 1px solid var(--light-gray);
  border-radius: 0;
  font: inherit;
  color: inherit;
  background-color: var(--light-gray);
  text-align: left;
  cursor: pointer;
}

.Button:active {
  background-color: var(--dark-gray);
}

.Button:focus {
  outline: 0;
  border-color: var(--blue);
}
