.NameChooser input[type="text"] {
  display: block;
  appearance: none;
  width: 100%;
  margin: 0.2em 0;
  padding: 0.2em;
  border: 1px solid currentColor;
  border-radius: 0;
  font: inherit;
  color: inherit;
}

.NameChooser input[type="text"]:focus {
  outline: 0;
  border-color: var(--blue);
}
