.Button {
  display: block;
  appearance: none;
  margin: 0.2em 0;
  padding: 0.2em;
  border: 1px solid var(--gray-primary);
  border-radius: 0;
  font: inherit;
  color: inherit;
  background-color: var(--gray-primary);
  text-align: left;
  cursor: pointer;
}

.Button--enabled:active {
  border-color: var(--gray-secondary);
  background-color: var(--gray-secondary);
}

.Button:focus {
  outline: 0;
}

.Button:not(:active):focus {
  border-color: var(--blue);
}

.Button--disabled {
  opacity: 0.6;
  cursor: default;
}
